<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KASApp</display-name>
  <welcome-file-list>
    <welcome-file>Pages/ShowProducts.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <security-constraint>
    <display-name>Kupay App Security Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>Customer User Access</web-resource-name>
      <url-pattern>/Pages/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Customer_Supervisor</role-name>
      <role-name>Customer_User</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/index.jsp</form-login-page>
      <form-error-page>/index.jsp?failed=1</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>Customer_Supervisor</role-name>
  </security-role>
  <security-role>
    <role-name>Customer_User</role-name>
  </security-role>    
  <listener>
    <listener-class>com.customerapp.ProcessTransaction</listener-class>
  </listener>    
</web-app>